body {
  font-size: 16px;
}

#modal {
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f7cba5;
}

.remaining-time {
  display: flex;
  /* justify-content: center; */
  font-size: 2.5em;
}
.remaining-time__values {
  flex: 0 0 52px;
  font-weight: bold;
  text-align: right;
}

.remaining-time__labels {
  font-weight: lighter;
}

#hours {
  color: #6610f2;
}

#minutes {
  color: #6f42c1;
}

#seconds {
  color: #007bff;
}